{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 10, "knowledge_revision": 35, "git_revision": "0426c0764c5e84ae1b8edfe4bb2b57ae8a4f6c5e", "hash": "26ed06310bb3ca12d29220e618725a33", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "revision_history": [{"35": "0426c0764c5e84ae1b8edfe4bb2b57ae8a4f6c5e"}]}