{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["requirements", "dependency", "Flask", "PyJWT", "Flask-CORS"], "state": 2, "file_id": 9, "knowledge_revision": 33, "git_revision": "0426c0764c5e84ae1b8edfe4bb2b57ae8a4f6c5e", "hash": "65266dabeb09e086fdafa26febb3f1c4", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "revision_history": [{"33": "0426c0764c5e84ae1b8edfe4bb2b57ae8a4f6c5e"}]}