{"is_source_file": true, "file_id": 10, "git_revision": "0426c0764c5e84ae1b8edfe4bb2b57ae8a4f6c5e", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "26ed06310bb3ca12d29220e618725a33", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "knowledge_revision": 34}