{"is_source_file": true, "file_id": 13, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "bfdce0dc4bacb9a738ff2c8ab2d2346a", "format-version": 4, "code-base-name": "default", "filename": "FlaskLoginService/requirements.txt", "knowledge_revision": 47}