{"is_source_file": true, "file_id": 6072, "git_revision": "8781b57dbf71030a9949b699b2b160145b481757", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "2d065d57b373b00da6987a2f98d5ea9a", "format-version": 4, "code-base-name": "default", "filename": "LoginServiceMinimal/requirements.txt", "knowledge_revision": 6102}