{"is_source_file": true, "file_id": 4054, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "68be365662ceccb91f3b4c8fa4cd2f73", "format-version": 4, "code-base-name": "default", "filename": "LoginService/requirements.txt", "knowledge_revision": 4086}